{% extends "layout.html" %}
{% block body %}

<form action="/update_caso/{{caso.CodigoDeCaso}}" method="POST" class="mb-4" id="editForm" name="editForm">
    <div class="form-group">
      <label for="firstName">Nombre</label>
      <input id="firstName" type="text" class="form-control" name="firstName" value="{{caso.Nombres}}" disabled>
    </div>
    <div class="form-group">
      <label for="lastName">Apellido</label>
      <input id="lastName" type="text" class="form-control" name="lastName" value="{{caso.Apellidos}}" disabled>
    </div>
    <div class="form-group">
        <label for="idNumber">Cédula</label>
        <input id="idNumber" type="number" class="form-control" name="idNumber" value="{{caso.Cedula}}" disabled>
    </div>
    <!-- <div class="form-group">
        <label for="Sexo">Sexo (F o M)</label>
        <select class="form-select" id="Sexo" name="Sexo">
          <option selected value="Femenino">F</option>
          <option value="Masculino">M</option>
        </select> 
    </div> -->
    <!-- <div class="form-group">
        <label for="start">Fecha de nacimiento:</label>
        <input type="date" id="start" name="Fecha de nacimiento"
        value="2000-07-22"
        min="1921-01-01" max="2021-11-24">
       </select> 
    </div> -->
    <div class="form-group">
      <label for="adress">Direccion de residencia</label>
      <input id="adress" type="text" class="form-control" name="Direccion de residencia" value="{{caso.DireccionDeResidencia}}" disabled>
    </div>
    <div class="form-group">
      <label for="adress1">Direccion trabajo</label>
      <input id="adress1" type="text" class="form-control" name="Direccion trabajo" value="{{caso.DireccionTrabajo}}" disabled>
    </div>
    <!-- <div class="form-group">
        <label for="ResultadoExamen">Resultado Examen (Positivo o Negativo)</label>
        <select class="form-select" id="ResultadoExamen" name="ResultadoExamen">
          <option selected value="Positivo">Positivo</option>
          <option value="Negativo">Negativo</option>
        </select> 
    </div> -->
    <label for="estado">Cambie estado</label>
    <select class="form-select" id="estado" name="estado" >
        <option value="1">Tratamiento en Casa</option>
        <option value="2">Tratamiento en Hospital</option>
        <option value="3">UCI</option>
        <option value="4">Curado</option>
        <option value="5">Muerto</option>
    </select>

    <label for="fecha">Ingrese Fecha de Cambio de Estado</label>
    <input type="date" name="fecha" id="fecha" required>

    <br>

    <button class="btn btn-secondary" type="submit" >
        Actualizar
    </button>
    
    <a href="#" class="btn btn-secondary btn-block">
        Volver al Login Inicial
    </a>

    <!-- <div class="form-check">
        <input class="form-check-input" type="radio" name="searchType" value="byCodigo" id="searchType1">
        <label class="form-check-label" for="searchType1">
            Tratamiento en Casa
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="searchType" value="byName" id="searchType2" >
        <label class="form-check-label" for="searchType2">
            Tratamiento en Hospital
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="searchType" value="byName" id="searchType2" >
        <label class="form-check-label" for="searchType2">
            UCI
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="searchType" value="byName" id="searchType2" >
        <label class="form-check-label" for="searchType2">
            Curado
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="searchType" value="byName" id="searchType2" >
        <label class="form-check-label" for="searchType2">
            Muerto
        </label>
    </div> -->

</form>

{% endblock %}

