<!DOCTYPE html>
<html>
    <head>
        <title>Geocoding Service</title> 
    </head>
    <body>
        <!-- 1. Create a searchbox where the user will provide the text address -->
        <div id="floating-panel">
            <input id="address" type="textbox" value="Sydney, NSW" />
            <input id="submit-btn" type="button" value="Geocode" />
        </div>

        <div id="map" style="height: 500px;"></div>

        <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBi1KsLSOlF-A2lxEz6EtUEYvvRtfgqFk" async></script>

        <script>
            // 1. Initialize GeoCoder
            const geocoder = new google.maps.Geocoder();

            // 2. The text address that you want to convert to coordinates
            let address = "Plaza de Bolívar de Bogotá";

            // 3. Obtain coordinates from the API
            geocoder.geocode({ address: address }, (results, status) => {
                if (status === "OK") {
                    // Display response in the console
                    console.log(results);
                } else {
                    alert("Geocode error: " + status);
                }
            });
        </script>
    </body>
</html>