{% extends "layout.html" %}
{% block body %}
<div class="container-fluid">
  <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div> 
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="https://raw.githubusercontent.com/tony-coder-18/covid-tracker-telematica/pruebam/static/img/Graficas.png" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Graficos</h5>
          <p>Aca se puede ver las secciones</p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="https://www.paho.org/sites/default/files/styles/max_1500x1500/public/2020-03/blue-covid-banner.jpg?itok=N2g8afH3" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Covid</h5>
          <p>¿noticia?</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://www.paho.org/sites/default/files/styles/max_1500x1500/public/2021-05/covid-19-variants.jpg?itok=szJH1mCw" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>noticia</h5>
          <p>noticia</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
  {% endblock %}
